body {
  background-color: #100c08;
  display: flex;
  justify-content: center;
  font-family: "Clear Sans", "Helvetica Neue"
}

h1 {
  font-size: 80px;
  font-family: 'Corinthia', cursive;
  line-height: 0.7;
  color: #d4d4d4;
  margin: 0px;
}

.container {
  width: 468px;
  margin-top: 30px;
}

.lose {
  color: #dcdcdc;
  font-family: 'Fuzzy Bubbles', cursive; 
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.grid{
  font-family: 'Corinthia', cursive;
  font-family: 'Lobster', cursive;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 550px;
  background-color: #BBADA0;
  border: 7px solid #BBADA0;
  border-radius: 6px;
  margin-top: 20px;
}

.grid div {
  width: 101px;
  height: 105px;
  margin: 12px;
  border-radius: 3px;
  background-color: #EEE4DA;
  color: #EEE4DA;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  line-height: 2;
}

.score-container {
  text-align: center;
  font-family: 'Corinthia', cursive;
  font-family: 'Lobster', cursive;
  width: 70px;
  height: 60px;
  border-radius: 3px;
  background-color: #ffb224;
  color: #000000;
}

#score {
  font-size: 30px;
}

.score-title {
  font-size: 16px;
}

.result {
  font-color: #ffd700;
}
